﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="bannerAd.ascx.cs" Inherits="jsmoot2011.advertise.bannerAd" %>
<table width="100%" align="center" border="2">
    <tr>
        <td valign="middle" align="center">
            <div>
                <asp:Timer ID="Timer2" Interval="15000" runat="server" ></asp:Timer>
                <asp:UpdatePanel ID="up1" runat="server">
                    <Triggers>
                        <asp:AsyncPostBackTrigger ControlID="Timer2" EventName="Tick" />
                    </Triggers>
                    <ContentTemplate>
                        <asp:AdRotator ID="AdRotator2" Width="100%" AdvertisementFile="~/Advertise/bs_ads.xml" 
                            runat="server" />
                    </ContentTemplate>
                </asp:UpdatePanel>
             
            </div>
        </td>
    </tr>
</table> 