﻿<%@ Page Language="C#" AutoEventWireup="true"  CodeFile="bsAdds.aspx.cs" Inherits="_Default2" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" >
<head runat="server">
    <title></title>
    <meta http-equiv="refresh" content="10" /> 
</head>
<body topmargin="0" leftmargin="0">
    <form id="form1" runat="server">    
        <asp:AdRotator ID="AdRotator1" runat="server" AdvertisementFile="bs_ads.xml" />
    
    </form>
</body>
</html>
