/*******  Core *******/
html, body, input, button, select, option, textarea {color: #ddd; font-size: 14px; line-height: 22px; font-family: "Segoe UI", Arial, Helvetical, sans-serif;}
body { background: #000; }
div#container { background: #1f1f1f;}
div#main { }

/*******  Elements *******/
a, a:visited { color: #f09609; font-weight: normal; text-decoration: none; }
a:hover { color: #f09609; font-weight: normal; text-decoration: none; }
a img, a:visited img { text-decoration: none; border:none;}

/*******  Header *******/
div#header {  }
div#logo span { background:url(pix/jsmoothead0513sm.png) no-repeat left; }
div#hinfo .twit-label { color:#f09609; text-align:left; line-height: 17px;}
div#hinfo .tweet { font-size:10px; line-height: 14px; 
border-left-width: 1px; border-left-color: #444; border-top-style: none; border-right-style: none; border-bottom-style: none; border-left-style: solid; }
div#hinfo .tweet ul {list-style:none; padding:0; margin:0;}
div#hinfo .tweet li {list-style:none; padding:0; margin:0;}

/*******  Content *******/
div#pagecon { border-left-width: 1px; border-left-color: #444; border-top-style: none; border-right-style: none; border-bottom-style: none; border-left-style: solid;}
div#pagecontent h1, div#pagecontent h2, div#pagecontent h3, div#pagecontent h4, div#pagecontent h5, div#pagecontent h6 {color:#fff; font-size:30px; line-height: 36px; font-weight:normal;}
div#pagecontent p, div.blockquote {}
div.blockquote .bt1 .bt2 .bt3 {background:url(images/ic-quote.gif) no-repeat top left; font-style:italic; text-align: justify; }
div.blockquote img {}
div#pagecontent ul {list-style:none;}
div#pagecontent li {list-style:none; line-height:18px; background:url("../pix/ic-arrow-r.gif") no-repeat top left;}

/*******  Homebar *******/
div.homebar1 h2, div.homebar2 h2, div.homebar3 h2 {font-size: 30px; font-weight:normal; line-height:36px;}
div.hbimg {}
div.hblimg {}
div.hbtitle, div.hbtitle a:link, div.hbtitle a:hover, div.hbtitle a:visited {color: #fff; font-size: 22px; font-weight:normal; line-height:20px; text-decoration:none;}
div.hbltitle, div.hbltitle a:link, div.hbltitle a:hover, div.hbltitle a:visited {color: #ddd; font-size: 14px; font-weight:normal; line-height:30px; text-decoration:none;}
div.hbtag, div.hbtag a:link, div.hbtag a:hover, div.hbtag a:visited {color: #f09609; font-size: 14px; font-weight:normal; line-height:16px; text-decoration:none;}

/******* Pages Sidebar *******/
div.sb-title { color:#fff; font-size:15px; background:#f09609;}
#sidebar ul { list-style:none;}
#sidebar li { list-style:none; line-height:30px; background:url(pix/ic-navlist.gif) no-repeat top left;}
#sidebar li a:link, #sidebar li a:hover, #sidebar li a:visited { color:#ddd; text-decoration:none;}

/******* Page1 *******/
.carousal { width:882px; height:228px; margin:0 auto; padding:0px 0 0 0; border-top-width: 1px; border-top-color: #444; border-bottom-width: 1px; border-bottom-color: #444; border-top-style: solid; border-right-style: none; border-bottom-style: solid; border-left-style: none;}
.carousal2 { width:200px; height:30px; margin:0 auto; padding:0px 0 0 0; border-top-width: 1px; border-top-color: #444; border-bottom-width: 1px; border-bottom-color: #444; border-top-style: solid; border-right-style: none; border-bottom-style: solid; border-left-style: none;}
#slider { margin:0; padding:0px; list-style:none; }
#slider ul, #slider li { margin:0; padding:0; list-style:none;}
#slider li { width:872px; height:208px; overflow:hidden;}
p#controls { margin:0; position:relative; }
#prevBtn { display:block; margin:0; overflow:hidden; width:22px; height:22px; position:absolute; left: 25px; top:-175px; }
#nextBtn { display:block; margin:0; overflow:hidden; width:22px; height:22px; position:absolute; left: 825px; top:-175px; }
#prevBtn a {display: block; width: 22px; height: 22px; background:url(../pix/ic-arrow-l.gif) no-repeat 0 0;}
#nextBtn a {display: block; width: 22px; height: 22px; background:url(../pix/ic-arrow-r.gif) no-repeat 0 0;}
#prevBtn a:hover {display:block; width:22px; height:22px; background:url(../pix/ic-arrow-lo.gif) no-repeat 0 0;}
#nextBtn a:hover {display:block; width:22px; height:22px; background:url(../pix/ic-arrow-ro.gif) no-repeat 0 0; }
.slide { padding: 25px 100px;}

.slidetext {width:455px; float:left;}
.slidetext h2 {padding:0; margin:0; color:#fff; font-size: 30px; font-weight:normal; line-height: 36px;}
.slidetext h2 a:link, .slidetext h2 a:hover, .slidetext h2 a:visited {color: #fff; text-decoration:none; font-weight:normal;}
.slidetext p {padding:0; margin:5px 0;}
.slideimg {width: 180px; float:right; margin: 10px 0;}
.slideimg2 { margin: 1px 0;}
.slide2 { padding: 1px 1px;}
/******* Page2 *******/
div.clientlogo {}
div.clientlogod {}

/******* Page3 *******/
div.tunit {}
div.timg {}
div.ttext {}
div.ttitle, div.ttitle a:link, div.ttitle a:hover, div.ttitle a:visited {color: #fff; font-size: 22px; font-weight:normal; line-height:20px; text-decoration:none;}
div.ttag, div.ttag a:link, div.ttag a:hover, div.ttag a:visited {color: #f09609; font-size: 14px; font-weight:normal; line-height:16px; text-decoration:none;}
div.ttext .p {background:url(images/ic-quote.gif) no-repeat top left; text-align: justify;}

/******* Page4 *******/
div.punit{}
div.pimg{}
div.ptext{text-align: center; color:#ddd; font-size: 15px; line-height: 45px;}

/******* Page5 *******/
div#contactform {}
div#pagecontent #contactform ol { list-style:none;}
div#pagecontent #contactform li { list-style:none; background:none;}
#contactform li.buttons { }
#contactform label { }
#contactform label span,
#recap-links a, #recap-links a:hover, #recap-links a:visited
{ color:#666; font-style:italic;}
#contactform input.text { border:none; background:#bfbfbf; color:#333;}
#contactform textarea { border:none; background:#bfbfbf; color:#333;}
#contactform li.buttons input {border:0; color:#FFF;}
#contactform .submit {display: block; width: 99px; height: 29px; background:url(images/send.png) no-repeat 0 0; border: none;}
#contactform .submit:hover {display:block; width:99px; height:29px; background-position: 0 -29px; border: none;}
p.response { text-align:center; color:#2c2c2c; font:bold 11px Arial, Helvetica, sans-serif; line-height:1.8em;}

/******* Footer *******/
div#footer {color:#aaa;}
div#f-nav {background: #282828; text-align:center;}
div#f-nav, div#f-nav a:link, div#f-nav a:visited {color:#aaa; padding:6px 15px;}
div#f-nav a:hover {color: #fff; background-color:#f09609;}
div#f-post {text-align:center; font-size:11px; line-height:18px;}