/******* Core *******/
html, body, div { margin: 0; padding: 0; }
div#container { width: 1000px; margin:0 auto; }
div#main { padding:30px 45px; }
div.clr {clear: both;}

/******* Header *******/
div#header { height:188px; margin:0; padding:0; }
div#logo, div#logo span { width:365px; height:85px; margin:0 -10px; padding:0; float:left; }
div#nav { height:166px; width:372px; margin:0; padding:0; float:right;}
div.nav-unit { height:85px; width:85px; padding:0; margin:8px 0 0 8px; float:left;}
div#hinfo { height:100px; width:490px; margin:0; padding:0; float:left; }
div#hinfo .month {margin-top: 55px; float:left;padding-right:3px; font-size: 18px;}
div#hinfo .date {margin-top: 48px; float:left;padding:0;margin-bottom:5px; height:40px; font-size:36px;}
div#hinfo .twit-label {margin-top: 43px; width:80px; float:left; padding-left: 70px;}
div#hinfo .tweet {margin-top: 43px; width:305px; float:left; padding-left:15px;}

/******* Content *******/
div#contentbox { margin:35px 0 30px 0; }
div#hcontent { margin:50px 0 0 0; }
div#pagecon { width:640px; margin:0; padding:0; float:right;}
div#pagecontent { width:590px; margin:0; padding:0; float:right;}
div#pagecontent h1, div#pagecontent h2, div#pagecontent h3, div#pagecontent h4, div#pagecontent h5, div#pagecontent h6 {margin:0; padding:0;}
div#pagecontent p, div.blockquote {margin: 23px 0; padding:0; height:auto;}
div.blockquote .bt1 {height: 200px; float:left; }
div.blockquote .bt1 .bt2 {padding: 40px 0 0 0;}
div.blockquote .bt1 .bt2 .bt3 {width: 270px; padding:0 0 0 45px; }
div.blockquote img {float:right;}
div#pagecontent ul {margin:0; padding:0;}
div#pagecontent li {margin:15px 0 0 0; padding:0 0 0 33px; height: 22px;}

/******* HomeBars *******/
div.homebar1 {width: 230px; float:left; padding:0; margin:0;}
div.homebar2 {width: 270px; float:left; padding:0; margin:0 50px;}
div.homebar3 {width: 270px; float:left; padding:0; margin:0;}
div.homebar1 h2, div.homebar2 h2, div.homebar3 h2 {margin:0 0 35px 0; padding:0;}
div.hbunit {margin:0 0 35px 0; padding:0;}
div.hblunit {margin:0 0 18px 0; padding:0;}
div.hbimg, div.hblimg {float: left; margin:0 15px 0 0;}
div.hbtitle, div.hbltitle {float: left;}
div.hbtag {float: left; margin-top: 5px;}
div.hbunit p {padding:0; margin: 7px 0 0 0;}

/******* Pages Sidebar *******/
div#sidebar {width: 215px; margin:0; padding:0; float:left;}
div.sb-title {height: 23px; width:77px; padding: 60px 0px 2px 8px; overflow:hidden;}
#sidebar ul { margin:0; padding:0;}
#sidebar li { margin:20px 0 0 0; padding:0 0 0 40px; height: 30px;}

/******* Page1 *******/

/******* Page2 *******/
div#logocontainer { width:615px; margin:0 0 0 -25px; padding:0;}
div.clientlogo {height:95px; width:95px; overflow:hidden; float:left; padding: 0 0 25px 25px;}
div.clientlogod {height:95px; width:215px; overflow:hidden; float:left; padding: 0 0 25px 25px;}

/******* Page3 *******/
div.tunit {margin: 35px 0 0 0; padding:0;}
div.timg {float:left; width:135px; height:135px; margin:0; padding:0;}
div.ttext {float:right; width:430px; padding:0; margin:0;}
div.ttitle {padding:0 0 0 35px;}
div.ttag {margin-top: 5px; padding:0 0 0 35px;}
div.ttext .p {margin:7px 0; padding:0 0 0 35px;}

/******* Page4 *******/
div#foliocontainer { width:615px; margin:0 0 0 -25px; padding:0;}
div.punit{float:left; margin:0 0 25px 30px; width:170px; height:300px;}
div.pimg{}
div.ptext{margin: -45px 0 0 0;}

/******* Page5 *******/
div#contactform {}
div#pagecontent #contactform ol { padding:0;}
div#pagecontent #contactform li { padding:0; height:auto;}
#contactform li.buttons { margin:20px 0 5px 0;}
#contactform label { margin:0px 0; width:100px; padding:5px 0; }
#contactform label span { }
#contactform input.text { width:555px; height:20px; padding:5px 15px; margin: 10px 0;}
#contactform textarea { width:555px; height:150px; padding:5px 15px; margin: 10px 0;}
#contactform li.buttons input { padding:3px 0; margin:0 0 0 0px;}
#contactform .submit { height: 29px; width: 99px;}
#contactform .submit:hover { height: 29px; width: 99px;}
p.response {width:auto;}

/******* Footer *******/
div#footer {padding:0; margin:0;}
div#f-nav {width:842px;}
div#f-post {margin: 30px 0 0 0;}