﻿@{
    ViewBag.Title = "Home Page";
}
<style>
    .ui-progressbar
    {
        color:red;

    }


</style>
<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-8">
            <div>
                <h2>Professional Experience</h2>
                <p class='lead'>Software Engineering, Mechinal Design</p>
                <span class="lead" style="font-weight: 400;"> I am mostly a self-taught with programmer and designer, I have, however, taken a few computer science classes at the University of Maine and did really well in them. Currently I am working to get into UC Irvine or UC Santa Cruz. I also play a lot of different video games, from Broken Age to League of Legend. If you have any questions please don&#8217;t hesitate to contact me, either on the bottom of the page or email me at spencer@spencersmoot.com</span></p>
                <ol class='graphs'>
                    <li><div class='per-30' style='background-color:#088da5;'>Design Skillz <span>30%</span></div></li>
                    <li><div class='per-50' style='background-color:#2a718c;'>Programming Skillz <span>50%</span></div></li>
                    <li><div class='per-100' style='background-color:#003366;'>Downess to Learn <span>100%</span></div></li>
                </ol>
                <div id="progressbar"></div>
                <progress max="100" value="80"></progress>
                <div class="progress">
                    <div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width:70%">
                        70% Complete
                    </div>
                </div>

                <!-- end hbunit -->

            </div>
            <!-- end homebar1 -->
        </div>
        <div class="clearfix" id="hcontent">
            <div class="col-md-4">
                <div class="homebar2">
                    <h2>Testimonials</h2>
                    <div class="hbunit">
                        <div class="hbimg">
                            <img src='@Url.Content("~/pix/UI/wfa-stevieleeS100.png")' width="50" alt="image" />
                        </div>
                        <div class="hbtitle">Steve Watkins</div>
                        <div class="hbtag"><a href="http://jazzusa.com/">http://jazzusa.com/</a></div>
                        <div class="clr"></div>
                        <p><em><a href="http://jazzusa.com">Jazzusa</a>. Jimi has done some great stuff for me and my website."</em></p>
                    </div>
                    <!-- end hbunit -->
                    <div class="hbunit">
                        <div class="hbimg">
                            <img src='@Url.Content("~/pix/jsmootIV.jpg")' width="50" alt="image" />
                        </div>
                        <div class="hbtitle">James Smoot IV</div>
                        <div class="hbtag"><a href="http://www.jsfour.com/">http://www.jsfour.com/</a></div>
                        <div class="clr"></div>
                        Does all of our backend site work."
                    </div>
                    <h2>Our Services</h2>
                    <div class="hbunit">
                        <div class="hbimg">
                            <img src='@Url.Content("~/pix/UI/netImage.jpg")' width="50" height="50" alt="image" />
                        </div>
                        <div class="hbtitle"><a href="/services">.NET Development</a></div>
                        <div class="hbtag">Application Development</div>
                        <div class="clr"></div>
                        <p>Development of windows form/ASP applications.</p>
                    </div>
                    <!-- end hbunit -->
                    <div class="hbunit">
                        <div class="hbimg">
                            <img src='@Url.Content("~/pix/UI/devices.png")' width="50" height="50" alt="image" />
                        </div>
                        <div class="hbtitle"><a href="services.html">Android Mobile</a></div>
                        <div class="hbtag">Mobile App Development</div>
                        <div class="clr"></div>
                        <p>Development using Xamarin.Android mobile.</p>
                    </div>
                    <!-- end hbunit -->
                    <div class="hbunit">
                        <div class="hbimg">
                            <img src='@Url.Content("~/pix/UI/os_wservice.png")' width="50" alt="image" />
                        </div>
                        <div class="hbtitle"><a href="http://www.orbitallink.com">WebServices</a></div>
                        <div class="hbtag">.NET WCF-Webservices</div>
                        <div class="clr"></div>
                        <p>Development of WCF and WPF webservices</p>
                    </div>
                    <!-- end hbunit -->
                </div>
                <!-- end homebar2 -->
            </div>

        </div>
    </div>
</div>
<script>
$( "#progressbar" ).progressbar({
  value: 37
});
</script>