﻿<style type="text/css">
    .logoImg2 {
        background-image: url('/pix/UI/jsmootHead0513base3.png');
        height: 125px;
        background-repeat: no-repeat;
       background-size: contain;
       width: 100%;
       margin-left:-10px;
    }
    .shadowImg
    {
        width: 300px;
        height: 130px;   
        box-shadow: 7px 7px 5px #000000;

    }
  
</style>
<script>
    $(document).ready(function () {

            var q = new Date();          
            var daycount = q.getDay();

            //create the array for logo image
            var imgLogos = [
                "../../pix/UI/jsmoot20813.jpg",
                "../../pix/UI/jsmoot20813_ToonTP.png",
                "../../pix/UI/jsmoot081212.png",
                "../../pix/UI/jsmoot0813_119.jpg"
            ];

            var imgSmLogo = [
                 "../../pix/UI/jsmootHeadbase2sm.png",
                "../../pix/UI/jsmootHeadbase3sm.png",
            ];

            imgSmLogoSelect = daycount % 2
            imgselect = daycount % 4;
            // imgselect = 0;
            // var monNum = mon + 1;
            //alert("imgselect " + imgselect);

            if (imgselect > imgLogos.length) {
                //alert("mon " + monNum);
                imgselect = 0;
            }
            $("#logoimgSm").attr("src", imgSmLogo[imgSmLogoSelect]);
            $("#logoimg").attr("src", imgLogos[imgselect]);
    
      });
</script>
<div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
    </button>
    <div class="hidden-md hidden-lg"  style="padding:5px;color:white">
        <img id="logoimgSm" src='../../pix/UI/jsmootHeadbase2sm.png' style="max-height:50px;width:auto;" />
       
    </div>
    
</div>
<div class="collapse navbar-collapse" id="myNavbar">
    <header id="header" style="height:100px;">
        <div id="logo" class="hidden-xs hidden-sm">
            <table id="Table_01" style="width:641px" border="0" cellpadding="0" cellspacing="0">
                <tr class="logoImg2">
                    <td style="padding:5px;">
                        <img class="shadowImg" id="logoimg" src='../../pix/UI/jsmoot0813_200.png' style="max-height:130px;width:auto;" />
                    </td>
                </tr>
            </table>
        </div>
        <div class="nav  navbar-right">
            <div class="hidden-xs hidden-sm" >
                <div class="nav-unit" onmouseover="runAnim('nav3');">
                    <a href='@Url.Action("Index", "Home")'>
                        <img id="nav3" src='@Url.Content("~/pix/UI/nav-Home.png")' alt="image" />
                    </a>
                </div>
                <div class="nav-unit" onmouseover="runAnim('nav1');">
                    <a href='@Url.Action("Index", "Teaching")'>
                        <img id="nav1" src='@Url.Content("~/pix/UI/nav-classes.png")' alt="Teaching" />
                    </a>
                </div>
                @*<div class="nav-unit" onmouseover="runAnim('nav7');">
                    <a href='@Url.Action("Index", "Teaching")'>
                        <img id="nav7" src='@Url.Content("~/pix/UI/nav-Time.png")' alt="Teaching" />
                    </a>
                </div>*@
                <div class="nav-unit" onmouseover="runAnim('nav2');">
                    <a href="http://blog.jsmoot.com">
                        <img id="nav2" src='@Url.Content("~/pix/UI/nav-blog.png")' alt="image" />
                    </a>
                </div>
              
                <div class="nav-unit" onmouseover="runAnim('nav4');">
                    <a href="http://Minoritywebservices.com">
                        <img id="nav4" src='@Url.Content("~/pix/UI/nav-Dserv.png")' alt="image" />
                    </a>
                </div>
                <div class="nav-unit" onmouseover="runAnim('nav5');">
                    <a href="#">
                        <img id="nav5" src='@Url.Content("~/pix/UI/nav-Wserv.png")' alt="image" />
                    </a>
                </div>
                <div class="nav-unit" onmouseover="runAnim('nav6');">
                    <a href="#">
                        <img id="nav6" src='@Url.Content("~/pix/UI/nav-Contact.png")' alt="image" />
                    </a>
                </div>
            </div>
        </div>
        <!-- end nav -->
      
        <div>
            <ul class="nav navbar-nav hidden-md hidden-lg">
                <li ><a href="#">Home</a></li>
                <li><a href="#">Classes</a></li>
                <li><a href="#">Blog</a></li>
                <li><a href="#">Domain Services</a></li>
                <li><a href="#">Contact Me</a></li>
            </ul>
        </div>


        <!-- end hinfo -->
    </header>
    <!-- end header -->
</div>
