﻿<!DOCTYPE html>
<html>
<head>
    <title>James Smoot III</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="alternate" type="application/rss+xml" title="RSS Feed" href="http://website.com/feed/" />
    <link rel="shortcut icon" href="favicon.gif" type="image/x-icon" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <link href="@Url.Content("~/Content/animate-custom.css")" rel="stylesheet" type="text/css" media="screen" />
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/modernizr")

    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    <script type="text/javascript" src="@Url.Content("~/Content/js/easySlider1.7.js")"></script>
    <script type="text/javascript" charset="utf-8">
        // <![CDATA[
        //  $(document).ready(function () {
        // alert("inrun " + ctlid);
        d = new Date();
        mon = d.getMonth();
        date = d.getDate();
        daycount = d.getDay();
        zmon = new Array();
        zmon = ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", " December"];
        // $("#hinfo").prepend("<div class='month'>" + zmon[mon] + "&nbsp;</div><div class='date' >" + date + "</div>");

        $("#monDiv").text(zmon[mon]);
        $("#dateDiv").text(date);

        //create the array for logo image
        var imgLogo = [
            "../../pix/UI/jsmoot20813.jpg",
            "../../pix/UI/jsmoot20813_ToonTP.png",
            "../../pix/UI/jsmoot081212.png",
            "../../pix/UI/jsmoot0813_119.jpg"
        ];

        imgselect = daycount % 3;
        // imgselect = 0;
        // var monNum = mon + 1;
        //alert("imgselect " + imgselect);

        if (imgselect > imgLogo.length) {
            //alert("mon " + monNum);
            imgselect = 0;
        }
        $("#logoimg").attr("src", imgLogo[1]);

        function runAnim(ctlid) {
            // alert("inrun " + ctlid);
            $('#' + ctlid).removeClass().addClass('bounce animated');
            var wait = window.setTimeout(function () {
                $('#' + ctlid).removeClass()
            },
                1300
            );
        };

      //  });
    </script>
</head>
<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid" style="background-color:#0071e6;">
        <!-- start header -->
        @Html.Partial("_headerPartial")

        <!-- end header -->
    </div>
</div>
<body style="background-color:#e5f9ff;padding-top:70px;">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="sidebar section" id="sidebar-left-1">
                    <div class="widget Image" data-version="1" id="Image1">
                        <h2>James Smoot III</h2>
                        <div class="widget-content">
                            <a href="http://www.jsmoot.com">
                                <img alt="James Smoot III" height="207" id="Image1_img" src="http://3.bp.blogspot.com/-loYL9C209Rs/UlBgiJNg-yI/AAAAAAAAAKE/_wX36CZWLfo/s1600/jsmoot081212.png" width="207">
                            </a>
                            <br>
                        </div>
                        <div class="clear"></div>
                        <span class="widget-item-control">
                            <span class="item-control blog-admin">
                                <a class="quickedit" href="//www.blogger.com/rearrange?blogID=4099381559309408601&amp;widgetType=Image&amp;widgetId=Image1&amp;action=editWidget&amp;sectionId=sidebar-left-1" onclick="return _WidgetManager._PopupConfig(document.getElementById(&quot;Image1&quot;));" rel="nofollow" target="configImage1" title="Edit">
                                    <img alt="" height="18" src="https://resources.blogblog.com/img/icon18_wrench_allbkg.png" width="18">
                                </a>
                            </span>
                        </span>
                        <div class="clear"></div>
                    </div><div class="widget Text" data-version="1" id="Text1">
                        <h2 class="title">About Me</h2>
                        <div class="widget-content">
                            <span style="fint-size:large;font-family:Georgia, serif;">I am a person who believes in family, interesting ideas and progressive thinking. No man is an island and no person is better than another.<br><a href="http://www.linkedin.com/pub/james-smoot-iii/14/773/a97"><img src="http://jsmoot.com/pix/Linkedin-48.png" width="24px" art="Me"> Linkedin</a></span>
                        </div>
                        <div class="clear"></div>
                        <span class="widget-item-control">
                            <span class="item-control blog-admin">
                                <a class="quickedit" href="//www.blogger.com/rearrange?blogID=4099381559309408601&amp;widgetType=Text&amp;widgetId=Text1&amp;action=editWidget&amp;sectionId=sidebar-left-1" onclick="return _WidgetManager._PopupConfig(document.getElementById(&quot;Text1&quot;));" rel="nofollow" target="configText1" title="Edit">
                                    <img alt="" height="18" src="https://resources.blogblog.com/img/icon18_wrench_allbkg.png" width="18">
                                </a>
                            </span>
                        </span>
                        <div class="clear"></div>
                    </div><div class="widget Feed" data-version="1" id="Feed1">
                        <h2>History not His-Story!</h2>
                        <div class="widget-content" id="Feed1_feedItemListDisplay"><ul><li><span class="item-title"><a href="http://blackusa.com/david-walker" target="_blank">David Walker</a></span></li><li><span class="item-title"><a href="http://blackusa.com/marcus-garvey" target="_blank">Marcus Garvey</a></span></li><li><span class="item-title"><a href="http://blackusa.com/martin-r-delaney" target="_blank">Martin R. Delaney</a></span></li><li><span class="item-title"><a href="http://blackusa.com/national-negro-medical-association" target="_blank">National Negro Medical Association</a></span></li></ul></div>
                        <div class="clear"></div>
                        <span class="widget-item-control">
                            <span class="item-control blog-admin">
                                <a class="quickedit" href="//www.blogger.com/rearrange?blogID=4099381559309408601&amp;widgetType=Feed&amp;widgetId=Feed1&amp;action=editWidget&amp;sectionId=sidebar-left-1" onclick="return _WidgetManager._PopupConfig(document.getElementById(&quot;Feed1&quot;));" rel="nofollow" target="configFeed1" title="Edit">
                                    <img alt="" height="18" src="https://resources.blogblog.com/img/icon18_wrench_allbkg.png" width="18">
                                </a>
                            </span>
                        </span>
                        <div class="clear"></div>
                    </div><div class="widget LinkList" data-version="1" id="LinkList2">
                        <h2>Some of my Web sites</h2>
                        <div class="widget-content">
                            <ul>
                                <li><a href="http://jsmoot.com/">www.jsmoot.com</a></li>
                                <li><a href="http://www.minoritywebservices.com/">www.MinorityWebServices.com</a></li>
                                <li><a href="http://blackusa.com/">www.Blackusa.com</a></li>
                                <li><a href="http://jazzusa.com/">www.Jazzusa.com</a></li>
                            </ul>
                            <div class="clear"></div>
                            <span class="widget-item-control">
                                <span class="item-control blog-admin">
                                    <a class="quickedit" href="//www.blogger.com/rearrange?blogID=4099381559309408601&amp;widgetType=LinkList&amp;widgetId=LinkList2&amp;action=editWidget&amp;sectionId=sidebar-left-1" onclick="return _WidgetManager._PopupConfig(document.getElementById(&quot;LinkList2&quot;));" rel="nofollow" target="configLinkList2" title="Edit">
                                        <img alt="" height="18" src="https://resources.blogblog.com/img/icon18_wrench_allbkg.png" width="18">
                                    </a>
                                </span>
                            </span>
                            <div class="clear"></div>
                        </div>
                    </div><div class="widget PopularPosts" data-version="1" id="PopularPosts1">
                        <h2>Popular Posts</h2>
                        <div class="widget-content popular-posts">
                            <ul>
                                <li>
                                    <div class="item-content">
                                        <div class="item-title"><a href="http://blog.jsmoot.com/2013/10/thinking-of-using-microsoft-reports.html">IS "Microsoft Reports" good for us</a></div>
                                        <div class="item-snippet">  SQL Server Reporting Services (SSRS) &nbsp;&nbsp; “ Microsoft Reports”    This is a report of the feasibility of using Microsoft Reports.   Executiv...</div>
                                    </div>
                                    <div style="clear: both;"></div>
                                </li>
                                <li>
                                    <div class="item-content">
                                        <div class="item-thumbnail">
                                            <a href="http://blog.jsmoot.com/2012/09/mvc-verson-of-user-control-using-razor.html" target="_blank">
                                                <img alt="" border="0" src="http://4.bp.blogspot.com/-CB0Cpd1xU-I/UFeGkC79avI/AAAAAAAAAE4/EhLLbSMHPsQ/w72-h72-p-k-no-nu/ddbox.png">
                                            </a>
                                        </div>
                                        <div class="item-title"><a href="http://blog.jsmoot.com/2012/09/mvc-verson-of-user-control-using-razor.html">MVC User Control</a></div>
                                        <div class="item-snippet"> MVC VERSON OF A USER CONTROL USING RAZOR and Shared View   This post will take you througth creating a what was called a User Control in AS...</div>
                                    </div>
                                    <div style="clear: both;"></div>
                                </li>
                            </ul>
                            <div class="clear"></div>
                            <span class="widget-item-control">
                                <span class="item-control blog-admin">
                                    <a class="quickedit" href="//www.blogger.com/rearrange?blogID=4099381559309408601&amp;widgetType=PopularPosts&amp;widgetId=PopularPosts1&amp;action=editWidget&amp;sectionId=sidebar-left-1" onclick="return _WidgetManager._PopupConfig(document.getElementById(&quot;PopularPosts1&quot;));" rel="nofollow" target="configPopularPosts1" title="Edit">
                                        <img alt="" height="18" src="https://resources.blogblog.com/img/icon18_wrench_allbkg.png" width="18">
                                    </a>
                                </span>
                            </span>
                            <div class="clear"></div>
                        </div>
                    </div><div class="widget BlogArchive" data-version="1" id="BlogArchive1">
                        <h2>What's Here</h2>
                        <div class="widget-content">
                            <div id="ArchiveList">
                                <div id="BlogArchive1_ArchiveList">
                                    <ul class="flat">
                                        <li class="archivedate">
                                            <a href="http://blog.jsmoot.com/2013/10/">October</a> (1)
                                        </li>
                                        <li class="archivedate">
                                            <a href="http://blog.jsmoot.com/2012/09/">September</a> (1)
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="clear"></div>
                            <span class="widget-item-control">
                                <span class="item-control blog-admin">
                                    <a class="quickedit" href="//www.blogger.com/rearrange?blogID=4099381559309408601&amp;widgetType=BlogArchive&amp;widgetId=BlogArchive1&amp;action=editWidget&amp;sectionId=sidebar-left-1" onclick="return _WidgetManager._PopupConfig(document.getElementById(&quot;BlogArchive1&quot;));" rel="nofollow" target="configBlogArchive1" title="Edit">
                                        <img alt="" height="18" src="https://resources.blogblog.com/img/icon18_wrench_allbkg.png" width="18">
                                    </a>
                                </span>
                            </span>
                            <div class="clear"></div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="col-md-9">
                @RenderBody()
            </div>
            <hr />
            <footer>
                <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
            </footer>
        </div>
    </div>

</body>
</html>
